/* File: app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #0a0a0a;
  --text-color: #f5f5f0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow: hidden; 
}