@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #0a0a0a; /* Deep Black */
  --accent-color: #DFFF00; /* That Neon Lando Yellow */
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar for Chrome/Safari/Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}